%base-bouton {
	background: $rose;
	border: 2px solid darken(rgba($rose, 0.8), 1%);
	color: white;
	padding: $base-line-height/4 $base-line-height;
	margin-top: $base-line-height/2;
	margin-bottom: $base-line-height/2;
	position: relative;
	white-space: nowrap;
	&:focus, &:hover {
		&, &:after {
			border-color: darken(rgba($rose, 0.8), 5%);
			text-decoration: none;
		}
	}
}

.bouton {
	@extend %base-bouton;
	border-radius: 50px;
	padding-left: $base-line-height /2;
	padding-right: $base-line-height /2;
	&:active {
		box-shadow: inset 0 0 20px 0 darken(rgba($rose, 0.8), 5%);
		-webkit-box-shadow: inset 0 0 20px 0 darken(rgba($rose, 0.8), 5%);
	}
}

.preservatif {
	@extend %base-bouton;
	border-left-width: 4px;
	padding: $base-line-height/4 $base-line-height $base-line-height/4 $base-line-height/2;
	border-radius: 0 $base-line-height $base-line-height 0;
	z-index: 5;
	&:after {
		content: ' ';
		position: absolute;
		right: -$base-line-height/3;
		top: $base-line-height/2 - em(1px);
		width: $base-line-height/3;
		height: $base-line-height/2;
		border-radius: 0 $base-line-height/4 $base-line-height/4 0;
		background: $rose;
		border: 2px solid rgba($rose, 0.8);
		border-left: none;
		z-index: 10;
	}

	-webkit-transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1);
	@include transition(padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275));

	&.long {
		-webkit-transition: padding 1s cubic-bezier(0.68, 0, 0.265, 1);
		@include transition(padding 1s cubic-bezier(0.68, -1.55, 0.265, 3.55));
		padding-right: $base-line-height*3;
	}

	&.rocco {
		padding-right: $base-line-height*4;
	}
}

@mixin preservatif($color: $rose, $border: false) {
	@if $border == false {
		$border: adjust-hue($color, 030deg);
	}
	@extend .preservatif;
	&, &:after {
		background: $color;
		border: 2px solid $border;
	}
	&:after {
		border-left: none;
	}
}

.facebook {
	display: inline-block;
	@include preservatif(#3b5998);
}

.twitter {
	display: inline-block;
	@include preservatif(#00aced);
}

.facebook, .twitter {
	&:hover, &:focus {
		text-decoration: none;
		@extend .preservatif.long;
	}
}
}