.home {
	&, body, #container {
		height: 100%;
	}
	.nav, .credits {
		display: none;
	}
	#container {
		display: table;
	}
}

.home-part {
	height: 50%;
	text-align: center;
	display: table-row;
	h1 {
		display: table-cell;
		font-size: $base-font-size*3;
		vertical-align: middle;
		font-weight: normal;
		.bouton {
			border-width: 4px;
		}
	}
}