body {
	background: rgb(239, 208, 207);
}

html, body, #container, .teube-add {
	margin: 0;
	padding: 0;
	height: 100%;
}

#container {
	min-height: 100%;
	@include box-sizing(border-box);
	padding: $base-line-height;
}

.nav {
	margin: 0;
	padding: 10px;
	text-align: center;
	li {
		display: inline-block;
	}
}

.teu {
	.be {
		@include transition(opacity 0.25s linear);
		opacity: 0.1;
	}
	&:hover .be, &:focus .be {
		opacity: 1;
	}
}

#teuboard {
	width: 80%;
	height: 70%;
	.drawing-board-canvas { cursor: image-url('curseube.png'), pointer; }
}

.teube-add .inputs {
	label, input[type=text], button {
		display: block;
		width: 80%;
		margin: $base-line-height/4 auto;
		font-size: xx-large;
	}

	input[type=text] {
		padding: $base-line-height/4 $base-line-height/2;
		color: #777;
	}

	button {
		width: auto;
		@extend .preservatif;
		&:hover, &:focus {
			@extend .preservatif.long;
		}
	}
}