html, body, #container, .teube-add {
	margin: 0;
	padding: 0;
}

#container {
	max-width: 1105px;
	margin: 0 auto;
}

.teu {
	.pointbe {
		@include transition-property(letter-spacing opacity);
		@include transition-duration(0.25s);
		letter-spacing: -1em;
		opacity: 0.01;
	}
	&:hover .pointbe, &:focus .pointbe, &.active .pointbe {
		opacity: 1;
		letter-spacing: normal;
	}
}

.justdoit {
	text-align: center;
	a {
		font-size: $base-font-size*3;
		line-height: $base-line-height*3;
	}
}

.flash {
	.page--draw &,
	.page--view & {
		width: $board-width;
		margin: 0 auto;
		white-space: normal;
		text-align: center;
	}
}

.credits {
	margin-top: 150px;
	font-family: sans-serif;
	font-size: small;
	opacity: 0.9;
	text-align: center;
	a {
		font-weight: bold;
	}
}