html, body, #container {
	margin: 0;
	padding: 0;
}

#container {
	max-width: 1105px;
	margin: 0 auto;
}

.obsolete-browser {
	margin: $base-line-height auto;
	text-align: center;
}

.teu {
	.pointbe {
		@include transition-property(letter-spacing opacity);
		@include transition-duration(0.25s);
		letter-spacing: -1em;
		@include opacity(0.01);
	}
	&:hover .pointbe, &:focus .pointbe, &.active .pointbe {
		@include opacity(1);
		letter-spacing: normal;
	}
}

.justdoit {
	text-align: center;
	@include respond-to(small) {
		padding-top: $base-line-height*4;
		padding-bottom: $base-line-height*2;
	}
	a {
		font-size: $base-font-size*3;
		line-height: $base-line-height*3;
		@include respond-to(small) {
			white-space: normal;
			font-size: $base-font-size*1.5;
			line-height: $base-line-height*1.5;
		}
	}
}

.flash {
	.page--draw &,
	.page--view & {
		width: $board-width;
		@include respond-to(small) {
			width: auto;
			max-width: 100%;
		}
		margin: 0 auto;
		white-space: normal;
		text-align: center;
	}
}

.credits {
	margin-top: 150px;
	font-family: sans-serif;
	font-size: small;
	@include opacity(0.9);
	text-align: center;
	a {
		font-weight: bold;
	}
}