html, body, #container, .teube-add {
	margin: 0;
	padding: 0;
}

.nav {
	margin: $base-line-height/2 0 (($base-line-height/2)+$base-line-height);
	padding: $base-line-height/4;
	text-align: center;
	background: rgba(white, 0.5);
	border: 2px solid rgba(white, 0.25);
	border-left: 0;
	border-right: 0;
	position: relative;
	z-index: 100;
	.nav__title {
		position: absolute;
		top: $base-line-height/4;
		bottom: $base-line-height/4;
		left: $base-line-height/4;
		font-size: .8em;
		margin: 0;
		font-weight: normal;
		line-height: 1.4;
		opacity: 0.9;
		width: 170px;
		color: rgba(darken($rose, 20%), 0.6);
	}
	li {
		display: inline-block;
		margin: 0 $base-line-height;
		text-align: center;
		position: relative;
		&:first-child {
			position: static;
		}
	}
	a {
		display: block;
		&.current {
			text-decoration: underline;
		}
		&.button, & {
			margin: 0;
		}
		&:hover + .dropdown {
			display: block;
		}
	}
	.dropdown {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		padding-top: $base-line-height;
		&:hover {
			display: block;
		}
		a {
			@extend %base-button;
			margin: 0;
			white-space: normal;
			background: rgba(white, 0.6);
		}
	}

	@include respond-to(not-large) {
		padding-left: 200px;
		text-align: left;
	}
}

#container {
	max-width: 1105px;
	margin: 0 auto;
}

.teu {
	.pointbe {
		@include transition-property(letter-spacing opacity);
		@include transition-duration(0.25s);
		letter-spacing: -1em;
		opacity: 0.01;
	}
	&:hover .pointbe, &:focus .pointbe, &.active .pointbe {
		opacity: 1;
		letter-spacing: normal;
	}
}

.justdoit {
	text-align: center;
	a {
		font-size: $base-font-size*3;
		line-height: $base-line-height*3;
	}
}

.credits {
	margin-top: 150px;
	font-family: sans-serif;
	font-size: small;
	opacity: 0.9;
	text-align: center;
	a {
		font-weight: bold;
	}
}