//variables du projet

//couleurs
$dark-gray: #222;
$light-gray: #eee;
$rose: #fe9aa3;
$blue: #67A9CB;
$yellow: #FEFCB4;
$green: #48B161;
$flat-green: darken(#2ecc71, 2.5%);
$red: #FE4E5E;

$base-color: $dark-gray;

$link-color: $flat-green;

//fonts
$serif: unquote("Georgia, 'DejaVu Serif', Norasi, serif");
$sans-serif: unquote("Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif");
$monospace: unquote("Consolas, Monaco, 'Liberation Mono', 'Courier New', Courier, monospace");
$base-font-family: 'Chewy', $sans-serif;
$base-font-size-px: 16px;
$base-font-size: em($base-font-size-px);
$base-line-height-px: 21px;
$base-line-height: em($base-line-height-px);

$teube-preview-size: 200px;