//variables du projet

//couleurs
$base-color: #222;
$rose: #fe9aa3;
$green: #45A331;
$red: #D31F2F;

$link-color: $green;
$link-color--visited: lighten($link-color, 5%);

//fonts
$serif: unquote("Georgia, 'DejaVu Serif', Norasi, serif");
$sans-serif: unquote("Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif");
$monospace: unquote("Consolas, Monaco, 'Liberation Mono', 'Courier New', Courier, monospace");
$base-font-family: 'Chewy', $sans-serif;
$base-font-size-px: 16px;
$base-font-size: em($base-font-size-px);
$base-line-height-px: 21px;
$base-line-height: em($base-line-height-px);

$teube-preview-size: 200px;