@charset "UTF-8";
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

audio, canvas, video { display: inline-block; }

[hidden] { display: none; }

html { font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; background: #efd0cf; }

a, a:active, a:hover:active { text-decoration: none; }

a:hover, a:focus { text-decoration: underline; }

a:focus { outline: thin dotted; }

a:active, a:hover { outline: 0; }

h1 { font-size: 2em; margin: 0.67em 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0; }

button, input { line-height: normal; }

button, select { text-transform: none; }

input[type=text] { font-size: x-large; padding: 0.32813em 0.65625em; color: #777; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

body, button, select, input, textarea, label { color: #222222; font-family: "Chewy", Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif; line-height: 1.3125em; }

.ir { border: 0; overflow: hidden; *text-indent: -9999px; }
.ir:before { content: ""; display: block; width: 0; height: 100%; }

.hidden { display: none !important; visibility: hidden; }

.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after, .cf:before, .teube-vote:before, .teubes-list:before, .cf:after, .teube-vote:after, .teubes-list:after { content: " "; display: table; }
.clearfix:after, .cf:after, .teube-vote:after, .teubes-list:after { clear: both; }
.clearfix, .cf, .teube-vote, .teubes-list { *zoom: 1; }

@media only screen and (max-width: 640px) { .no-small { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 1199px) { .no-medium { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 1200px) { .no-large { display: none !important; visibility: hidden; } }

@media only screen and (min-width: 641px) and (max-width: 1199px) { .only-small { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 1200px) { .only-small { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-medium { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 1200px) { .only-medium { display: none !important; visibility: hidden; } }

@media only screen and (max-width: 640px) { .only-large { display: none !important; visibility: hidden; } }
@media only screen and (min-width: 641px) and (max-width: 1199px) { .only-large { display: none !important; visibility: hidden; } }

.bouton, .teube-container .teube-edit-link, .teube-list-item p, .nav li.active a, .preservatif, .facebook, .twitter, .teube-container .teube-info .teube-submit, .flash { background: #fe9aa3; border: 2px solid rgba(254, 149, 158, 0.8); color: white; padding: 0.32813em 1.3125em; margin-top: 0.65625em; margin-bottom: 0.65625em; position: relative; white-space: nowrap; }
.bouton:focus, .teube-container .teube-edit-link:focus, .teube-list-item p:focus, .nav li.active a:focus, .preservatif:focus, .facebook:focus, .twitter:focus, .teube-container .teube-info .teube-submit:focus, .flash:focus, .bouton:focus:after, .teube-container .teube-edit-link:focus:after, .teube-list-item p:focus:after, .nav li.active a:focus:after, .preservatif:focus:after, .facebook:focus:after, .twitter:focus:after, .teube-container .teube-info .teube-submit:focus:after, .flash:focus:after, .bouton:hover, .teube-container .teube-edit-link:hover, .teube-list-item p:hover, .nav li.active a:hover, .preservatif:hover, .facebook:hover, .twitter:hover, .teube-container .teube-info .teube-submit:hover, .flash:hover, .bouton:hover:after, .teube-container .teube-edit-link:hover:after, .teube-list-item p:hover:after, .nav li.active a:hover:after, .preservatif:hover:after, .facebook:hover:after, .twitter:hover:after, .teube-container .teube-info .teube-submit:hover:after, .flash:hover:after { border-color: rgba(254, 129, 140, 0.8); text-decoration: none; }

.bouton, .teube-container .teube-edit-link, .teube-list-item p, .nav li.active a { border-radius: 50px; padding-left: 0.65625em; padding-right: 0.65625em; }
.bouton:active, .teube-container .teube-edit-link:active, .teube-list-item p:active, .nav li.active a:active { box-shadow: inset 0 0 20px 0 rgba(254, 129, 140, 0.8); -webkit-box-shadow: inset 0 0 20px 0 rgba(254, 129, 140, 0.8); }

.preservatif, .facebook, .twitter, .teube-container .teube-info .teube-submit { border-left-width: 4px; padding: 0.32813em 1.3125em 0.32813em 0.65625em; border-radius: 0 1.3125em 1.3125em 0; z-index: 5; -webkit-transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1); -webkit-transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); -moz-transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); -o-transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); transition: padding 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.preservatif:after, .facebook:after, .twitter:after, .teube-container .teube-info .teube-submit:after { content: ' '; position: absolute; right: -0.4375em; top: 0.59375em; width: 0.4375em; height: 0.65625em; border-radius: 0 0.32813em 0.32813em 0; background: #fe9aa3; border: 2px solid rgba(254, 154, 163, 0.8); border-left: none; z-index: 10; }
.preservatif.long, .long.facebook, .long.twitter, .facebook:hover, .facebook:focus, .twitter:hover, .twitter:focus, .teube-container .teube-info .long.teube-submit, .teube-container .teube-info .teube-submit:hover, .teube-container .teube-info .teube-submit:focus { -webkit-transition: padding 1s cubic-bezier(0.68, 0, 0.265, 1); -webkit-transition: padding 1s cubic-bezier(0.68, -1.55, 0.265, 3.55); -moz-transition: padding 1s cubic-bezier(0.68, -1.55, 0.265, 3.55); -o-transition: padding 1s cubic-bezier(0.68, -1.55, 0.265, 3.55); transition: padding 1s cubic-bezier(0.68, -1.55, 0.265, 3.55); padding-right: 3.9375em; }
.preservatif.rocco, .rocco.facebook, .rocco.twitter, .teube-container .teube-info .rocco.teube-submit, .teube-container .teube-info .teube-submit:active { padding-right: 5.25em; }

.facebook { display: inline-block; }
.facebook, .facebook:after { background: #3b5998; border: 2px solid #4b3b98; }
.facebook:after { border-left: none; }

.twitter { display: inline-block; }
.twitter, .twitter:after { background: #00aced; border: 2px solid #0035ed; }
.twitter:after { border-left: none; }

.facebook:hover, .facebook:focus, .twitter:hover, .twitter:focus { text-decoration: none; }

.flash-error { background: #d31f2f; border-color: rgba(211, 31, 47, 0.8); }

.home, .home body, .home #container { height: 100%; }
.home .nav, .home .credits { display: none; }
.home #container { display: table; }

.home-part { height: 50%; text-align: center; display: table-row; }
.home-part h1 { display: table-cell; font-size: 3em; vertical-align: middle; font-weight: normal; }
.home-part h1 .bouton, .home-part h1 .teube-container .teube-edit-link, .teube-container .home-part h1 .teube-edit-link, .home-part h1 .teube-list-item p, .teube-list-item .home-part h1 p, .home-part h1 .nav li.active a, .nav li.active .home-part h1 a { border-width: 4px; }

.drawing-board { width: 600px; height: 600px; margin: 0 auto; }
.drawing-board .drawing-board-canvas { cursor: url('../img/curseube.png?1364427261'), pointer; }
@media only screen and (min-width: 1200px) { .drawing-board { margin: 0; float: left; } }

.teube-container { padding: 1.3125em; }
@media only screen and (max-height: 780px) { .teube-container { padding: 0.32813em; } }
.teube-container .teube-info { width: 600px; margin: 0 auto; overflow: visible; font-size: xx-large; }
.teube-container .teube-info .teube-field, .teube-container .teube-info .teube-button { display: block; margin: 0.32813em 0; line-height: 1.3125em; font-weight: normal; width: 100%; }
.teube-container .teube-info .teube-name-input { font-size: x-large; }
.teube-container .teube-info .teube-button { display: inline-block; width: auto; margin-left: auto; margin-right: auto; }
@media only screen and (min-width: 1200px) { .teube-container .teube-info { margin: 30px 0 0 620px; width: auto; }
  .teube-container .teube-info:before, .teube-container .teube-info:after { content: " "; display: table; }
  .teube-container .teube-info:after { clear: both; }
  .teube-container .teube-info { *zoom: 1; }
  .teube-container .teube-info .teube-name { margin: 0; height: 1.3125em; }
  .teube-container .teube-info .teube-name-input { margin-top: 0; }
  .teube-container .teube-info .teube-button { margin-left: 0; margin-right: 0; } }

.teube-vote { padding: 0; list-style-type: none; }
.teube-vote li { float: left; display: block; width: 32px; height: 32px; border-right: 1px solid yellow; background: green; font-size: 0; }

.teube-vote { /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t  follow these rules. Every browser that supports :checked also supports :not(), so it doesn’t make the test unnecessarily selective */ }
.teube-vote fieldset { border-style: none; }
.teube-vote, .teube-vote legend { float: left; }
.teube-vote:not(:checked) input { position: absolute; top: -9999px; clip: rect(0, 0, 0, 0); }
.teube-vote:not(:checked) label { float: right; width: 1em; padding: 0 0.1em; overflow: hidden; white-space: nowrap; cursor: pointer; font-size: 200%; line-height: 1.2; color: #ddd; text-shadow: 1px 1px #bbbbbb, 2px 2px #666666, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }
.teube-vote:not(:checked) label:before { content: '★ '; }
.teube-vote:not(:checked) label:hover, .teube-vote:not(:checked) label:hover ~ label { color: gold; text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }
.teube-vote input:checked ~ label { color: #f70; text-shadow: 1px 1px #cc6600, 2px 2px #994400, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }
.teube-vote input:checked + label:hover, .teube-vote input:checked + label:hover ~ label, .teube-vote input:checked ~ label:hover, .teube-vote input:checked ~ label:hover ~ label, .teube-vote label:hover ~ input:checked ~ label { color: #ea0; text-shadow: 1px 1px goldenrod, 2px 2px #b57340, 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5); }
.teube-vote label:active { position: relative; top: 2px; left: 2px; }

.disqus-container { margin: 20px 0; padding: 20px; background: white; background: rgba(255, 255, 255, 0.5); width: 600px; }

.teube-list-item { float: left; width: 200px; height: 200px; margin: 0.65625em; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: relative; }
.teube-list-item a { display: block; color: white; }
.teube-list-item p, .teube-list-item img { -webkit-transition: opacity 0.25s; -moz-transition: opacity 0.25s; -o-transition: opacity 0.25s; transition: opacity 0.25s; }
.teube-list-item img { width: 100%; position: relative; z-index: 10; border-radius: 100px; border: 2px solid rgba(254, 149, 158, 0.8); }
.teube-list-item p { position: absolute; margin: 0; left: 0; right: 0; bottom: 10%; z-index: 20; text-align: center; opacity: 0; }
.teube-list-item:hover p, .teube-list-item:hover img { opacity: 1; }

html, body, #container, .teube-add { margin: 0; padding: 0; }

.nav { margin: 0.65625em 0; padding: 0.65625em; text-align: center; background: rgba(255, 255, 255, 0.5); border: 2px solid rgba(255, 255, 255, 0.25); border-left: 0; border-right: 0; }
.nav li { display: inline-block; margin: 0; min-width: 150px; text-align: center; }
.nav li a { color: black; }
.nav li.active a { display: inline-block; margin: 0; }
@media only screen and (max-height: 780px) { .nav { margin: 0 0 0.65625em; } }

#container { max-width: 1200px; margin: 0 auto; }

.teu .pointbe { -webkit-transition-property: letter-spacing, opacity; -moz-transition-property: letter-spacing, opacity; -o-transition-property: letter-spacing, opacity; transition-property: letter-spacing opacity; -webkit-transition-duration: 0.25s; -moz-transition-duration: 0.25s; -o-transition-duration: 0.25s; transition-duration: 0.25s; letter-spacing: -1em; opacity: 0.01; }
.teu:hover .pointbe, .teu:focus .pointbe { opacity: 1; letter-spacing: normal; }

.credits { margin-top: 200px; font-family: sans-serif; font-size: small; opacity: 0.7; text-align: center; }
