.teubes-list-sorter {
	p {
		display: inline-block;
	}
	ul {
		display: inline-block;
		list-style-type: none;
		padding: 0;
	}
	li {
		display: inline;
		position: relative;
	}
	a {

	}
}

.teubes-list__item {
	float: left;
	margin-bottom: $base-line-height/2;
}