$teube-item-size: 200px;

.teubes-list {
	@extend .cf;
}

.teube-list-item {
	float: left;
	width: $teube-item-size;
	height: $teube-item-size;
	margin: $base-line-height/2;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
	a {
		display: block;
		color: white;
	}
	p, img {
		@include transition(opacity 0.25s);
	}
	img {
		width: 100%;
		position: relative;
		z-index: 10;
		border-radius: $teube-item-size/2;
		border: 2px solid darken(rgba($rose, 0.8), 1%);
	}
	p {
		position: absolute;
		margin: 0;
		left: 0;
		right: 0;
		bottom: 10%;
		@extend .bouton;
		z-index: 20;
		text-align: center;
		opacity: 0;
	}
	&:hover {
		p, img {
			opacity: 1;
		}
	}
}