.teubes-list__title {
	margin: $base-line-height/2 0;
}

.teubes-list__see-more {
	display: block;
	margin: $base-line-height/2 0;
	float: right;
}

.teubes-list__item {
	float: left;
	margin-bottom: $base-line-height/2;
}

.teubes-list__pagination {
	margin: $base-line-height/2 0;
	text-align: center;
}


.teubes-list__pagination-link,
.teubes-list__pagination-count {
	display: inline-block;
	vertical-align: middle;
}

.teubes-list__pagination-link {
	font-size: $base-font-size*3;
	margin: 0 $base-line-height/2;
	border-bottom: 1px solid transparent;
}

span.teubes-list__pagination-link {
	@include hidden;
}

a.teubes-list__pagination-link:hover,
a.teubes-list__pagination-link:focus {
	text-decoration: none;
	border-color: $link-color;
}