$board-width: 600px;
$board-height: $board-width;
.drawing-board {
	width: $board-width;
	height: $board-height;
	margin: 0 auto;

	.drawing-board-canvas {
		cursor: image-url('curseube.png'), pointer;
	}

	@include respond-to(large) {
		margin: 0;
		float: left;
	}
}

.teube-container {
	padding: $base-line-height;

	@include respond-to(shrunken) {
		padding: $base-line-height/4;
	}

	.teube-edit-link {
		@extend .bouton;
	}

	.teube-info {
		width: $board-width;
		margin: 0 auto;
		overflow: visible;
		font-size: xx-large;

		.teube-field, .teube-button {
			display: block;
			margin: $base-line-height/4 0;
			line-height: $base-line-height;
			font-weight: normal;
			width: 100%;
		}

		.teube-name {

		}

		.teube-name-input {
			font-size: x-large;
		}

		.teube-button {
			display: inline-block;
			width: auto;
			margin-left: auto;
			margin-right: auto;
		}

		.teube-submit {
			@extend .preservatif;
			&:hover, &:focus {
				@extend .preservatif.long;
			}
			&:active {
				@extend .preservatif.rocco;
			}
		}

		@include respond-to(large) {
			margin: 30px 0 0 ($board-width + 20px);
			width: auto;
			@include micro-clearfix;

			.teube-name {
				margin: 0;
				height: $base-line-height;
			}

			.teube-name-input {
				margin-top: 0;
			}

			.teube-button {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

$vote-size: 32px;
.teube-vote {
	@extend .cf;
	padding: 0;
	list-style-type: none;
	li {
		float: left;
		display: block;
		width: $vote-size;
		height: $vote-size;
		border-right: 1px solid yellow;
		background: green;
		font-size: 0;
	}
}

//LEA ON T'AIME http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/
.teube-vote {

	fieldset {
		border-style: none;
	}

	&, legend {
		float: left;
	}
	
	/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
	   follow these rules. Every browser that supports :checked also supports :not(), so
	   it doesn’t make the test unnecessarily selective */
	&:not(:checked) {
		input {
			position:absolute;
			top:-9999px;
			clip:rect(0,0,0,0);
		}

		label {
			float:right;
			width:1em;
			padding:0 .1em;
			overflow:hidden;
			white-space:nowrap;
			cursor:pointer;
			font-size:200%;
			line-height:1.2;
			color:#ddd;
			text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
		}

		label:before {
			content: '★ ';
		}

		label:hover,
		label:hover ~ label {
			color: gold;
			text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
		}

	}

	input:checked ~ label {
		color: #f70;
		text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
	}

	input:checked + label:hover,
	input:checked + label:hover ~ label,
	input:checked ~ label:hover,
	input:checked ~ label:hover ~ label,
	label:hover ~ input:checked ~ label {
		color: #ea0;
		text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
	}

	label:active {
		position:relative;
		top:2px;
		left:2px;
	}
}

.disqus-container {
	margin: 20px 0;
	padding: 20px;
	background: white;
	background: rgba(white, 0.5);
	// border-radius: 0 0 20px 20px;
	width: $board-width;
}