.teube-view {
	position: relative;
	width: $board-width;
	margin: 0 auto;
	display: block;
	text-align: center;
	@include respond-to(small) {
		width: auto;
		max-width: 100%;
	}
}

.disqus-container {
	margin: $base-line-height/2 0;
	padding: $base-line-height;
	background: white;
	background: rgba(white, 0.5);
}

.teube-view__name {
	position: relative;
}

.teube-view__user-actions {
	position: absolute;
	top: 0;
	right: 0;
	font-size: $base-font-size*.7;
	> * {
		display: inline-block;
	}
	.button {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.teube-view__info {
	.teube-view__views,
	.teube-view__artist {
		color: darken($rose, 5%);
	}
}

.teube-view__drawing-container {
	position: relative;
}

.teube-view__drawing {
	background: white;
	width: auto;
	max-width: 100%;
}

.teube-view__navigation-link {
	position: absolute;
	top: 50%;
	margin-top: -$base-line-height/2;
	bottom: 0;
	@include respond-to(small) {
		position: relative;
		top: auto;
		bottom: auto;
		margin: $base-line-height/2;
		padding: 0 !important;
	}
}

.teube-view__navigation-link--prev {
	right: 100%;
	padding-right: $base-line-height/2;
	@include respond-to(small) {
		right: auto;
		float: left;
	}
}

.teube-view__navigation-link--next {
	left: 100%;
	padding-left: $base-line-height/2;
	@include respond-to(small) {
		left: auto;
		float: right;
	}
}

.teube-view__share-container {
	@include respond-to(small) {
		 > span:first-child {
		 	@include hidden;
		 }
	}
}

.teube-view__share-link {
	margin: $base-line-height/2 $base-line-height/2 $base-line-height/2 0;
}

$vote-size: 32px;
.teube-view__vote-container {
	margin: $base-line-height/2 auto;
}

.teube-view__user-vote,
.teube-view__avg-vote {
	line-height: 40px;
}

.teube-view__user-vote,
.teube-view__avg-vote {
	float: left;
	margin-left: $base-line-height;
}

.teube-view__vote {
	width: $vote-size*5;
	padding: 0;
	margin: 0;
	list-style-type: none;
	li {
		float: left;
		display: block;
		width: $vote-size;
		height: $vote-size;
		border-right: 1px solid yellow;
		background: green;
		font-size: 0;
	}
	> * {
		display: inline-block;
		vertical-align: middle;
	}
}

//LEA ON T'AIME http://lea.verou.me/2011/08/accessible-star-rating-widget-with-pure-css/
.teube-view__vote {

	fieldset {
		border-style: none;
		padding: 0;
		margin: 0;
	}

	&, legend {
		float: left;
	}

	/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t
	   follow these rules. Every browser that supports :checked also supports :not(), so
	   it doesn’t make the test unnecessarily selective */
	&:not(:checked) {
		input {
			position: absolute;
			top: -9999px;
			clip: rect(0,0,0,0);
		}

		label {
			float: right;
			width: $vote-size;
			padding: 0;
			overflow: hidden;
			white-space: nowrap;
			cursor: pointer;
			font-size: 200%;
			line-height: 40px;
			color: #ccc;
		}

		label:before {
			content: '★ ';
		}

		label:hover,
		label:hover ~ label {
			color: gold;
		}

	}

	input:checked ~ label {
		color: #f70;
	}

	input:checked + label:hover,
	input:checked + label:hover ~ label,
	input:checked ~ label:hover,
	input:checked ~ label:hover ~ label,
	label:hover ~ input:checked ~ label {
		color: #ea0;
	}

	label:active {
		position: relative;
		top: 2px;
		left: 2px;
	}
}

.teube-view__report-button {
	color: $link-color;
	border: none;
	background: none;
	&:before {
		padding-right: 4px;
	}
	&:hover, &:focus {
		text-decoration: underline;
	}
}