.teube-preview {
	width: $teube-preview-size;
	height: $teube-preview-size;
	margin: $base-line-height/2 $base-line-height/2 ($base-line-height/2 + $base-line-height);
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
}

.teube-preview__link {
	display: block;
	color: white;
}

.teube-preview__img-wrapper {
	position: relative;
	line-height: 0;
	z-index: 10;
	border: 4px solid lighten($blue, 20%);
	border: 4px solid rgba($blue, 0.4);

	overflow: hidden;
	border-radius: $teube-preview-size/2;
	width: 100%;

	div {
		overflow: hidden;
		// -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
	}
	div, img {
		border-radius: $teube-preview-size/2;
	}
	img {
		width: 100%;
		background: white;
		@extend .transition;
		.COOOL & {
			@include transform(scale(1.2));
			@include transform-origin(center center 0);
		}
	}
	.teube-preview--active &,
	.teube-preview:focus &,
	.teube-preview:hover & {
		border-color: $blue;
		img {
			.COOOL & {
				@include transform(none);
			}
		}
	}
}

.teube-preview__title {
	@extend .blue-button;
	position: absolute;
	margin: 0;
	left: 0;
	right: 0;
	bottom: 10%;
	z-index: 20;
	text-align: center;
	background-color: #85bad5;
	border: 0;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	.teube-preview--active &,
	.teube-preview:focus &,
	.teube-preview:hover & {
		background-color: $blue;
	}
	bottom: $base-line-height/-4;
}

.teube-preview__title,
.teube-preview__info-wrapper,
.teube-preview__date {
	@extend .transition;
	@include opacity(1);
	.COOOL & {
		@include transform(scale(1));
		@include transform-origin(center center 0);
	}
	.COOOL .teube-preview--active &,
	.COOOL .teube-preview:focus &,
	.COOOL .teube-preview:hover & {
		pointer-events: none;
		@include opacity(0);
		@include transform(scale(0.8));
	}
}

.teube-preview__info-wrapper,
.teube-preview__date {
	position: absolute;
	bottom: $base-line-height*1.5;
	z-index: 30;
}

.teube-preview__info-wrapper {
	left: 0;
	right: 0;
	text-align: center;
	> div {
		margin: 0 auto;
		display: inline-block;
		text-align: center;
		background: white;
		background: rgba(white, 0.9);
		border-radius: 50px;
	}
}

.teube-preview__views,
.teube-preview__date,
.teube-preview__rating {
	padding: $base-line-height/8 $base-line-height/4;
	display: inline-block;
}

.teube-preview__date {
	bottom: $base-line-height*-1.5;
	left: 0;
	right: 0;
	background: none;
	text-align: right;
	&:before {
		padding-right: 4px;
	}
}

.teube-preview__views {
}

.teube-preview__views,
.teube-preview__rating {
	color: $rose;
}